.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

a {
  color: #0cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
